# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_STORE
build
dataset
.vs
.egg
*.egg-info*
vita/LICENSE
dist
headless/builds/VisualStudio2022/x64
.claude
node_modules/
test-install/